.signup{
    position: relative;
    // height: 100vh;
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    
    .layout{
        p.ca {
            margin: 30px 0 2px 0;
            
            font-size: 13px;
            font-weight: 600;
            color: #7b798d;
        }

        h4.msg-banner{
            margin-top: 14px;
            font-weight: bolder;
            font-size: 20px;
            line-height: 2rem;

            span {
                display: inline-block;
            }
        }
        img{
            
            // position: relative;
            // overflow: hidden;
            width: 330px;
            // left: 50%;
            // transform: translate(-50%);
            // height: 95vh;
        }

        button{
            margin-top: 70px;
            border: 0;
            border-radius: 10px;

        }
        .signup-btn{
            position: relative;
            // top: 60vh;
            left: 50%;
            transform: translate(-50%);
            width: 85vw;
            padding: 20px;
            background: #332F64;
            background: -moz-linear-gradient(left, #332F64 0%, #a52bd1 100%);
            background: -webkit-linear-gradient(left, #332F64 0%, #a52bd1 100%);
            background: linear-gradient(to right, #332F64 0%, #a52bd1 100%);
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .terms{
            position: relative;
            text-align: center;

        }
    }

    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInRight;
    

    @keyframes fadeInRight {
        0% {
          opacity: 0;
          transform: translate3d(100%, 0, 0);
        }
      
        100% {
          opacity: 1;
          transform: none;
        }
    }

}