
.signupform-page{

    .btn-floating {
        margin: 20px;
    }
    
    
    a.btn-floating {
       
       background: white;
    
       i.material-icons {
           color: #7b798d;
       }
       
    }
    
    .form {
        // margin-top: 50px;
        position: relative;
        // height: 100vh;
        margin: 30px 10px 0 10px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
    
        .title{ 
            text-align: center;
        }
     
    }

    .link{
        // position: relative;
        font-size: 12px;
        font-weight: bold;
        color: #7b798d;
        text-align: center;

        span{
            color: blue;
        }
    }

    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

    animation-name: fadeInRight;




    @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}
}












